* {
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  min-width: 640px;
  font-family: 'Cabin', sans-serif; }

main {
  display: flex;
  height: 100%; }

footer {
  background: #434343;
  color: #fff;
  padding: 2px;
  text-align: center; }

.menu {
  flex: 1;
  background-color: #434343; }

.button-container {
  display: flex;
  justify-content: flex-start; }

.button {
  transition: all 150ms linear;
  padding: 12px 14px;
  min-width: 100px;
  text-align: center;
  user-select: none;
  text-align: center;
  text-transform: none; }
  .button:hover {
    transition: all 150ms linear;
    cursor: pointer; }
  .button.blue {
    color: #fff;
    background: #243B55; }
    .button.blue:hover {
      background-image: radial-gradient(circle at bottom center, #225b9c, #243B55 50%); }
    .button.blue.active {
      background: #225b9c; }

.file-wrap #file-button {
  padding: 10px;
  color: white;
  background: #243B55;
  border: 1px solid #080808;
  cursor: pointer;
  transition: all 150ms linear; }

.file-wrap #file-button:hover {
  background-color: #225b9c; }

.file-wrap #file-text {
  margin-left: 10px;
  color: #C9C9C9; }

.dicom-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #272727;
  justify-content: center;
  align-items: center; }

.dicom-visualizer {
  width: 512px;
  height: 512px;
  display: inline-block;
  border-style: solid;
  border-color: #fff;
  position: relative;
  background-color: #080808; }

.dicom-image-area {
  width: 512px;
  height: 512px;
  top: 0px;
  left: 0px;
  position: absolute; }
