$color-white: #fff;
$color-dark-blue: #243B55;
$color-blue: #225b9c;
$color-gray-light: #C9C9C9;
$color-dark-gray: #434343;
$color-black-light: #272727;
$color-black: #080808;

@mixin transition-1 {
    transition: all 150ms linear;
}

* {
    box-sizing: border-box;
}
  
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    min-width: 640px;
    font-family: 'Cabin', sans-serif;
}
  
main {
    display: flex;
    height: 100%;
}

footer {
    background: $color-dark-gray;
    color: $color-white;
    padding: 2px;
    text-align: center;
}

.menu {
    flex: 1;
    background-color: $color-dark-gray;
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

.button {
    @include transition-1();
    padding: 12px 14px;
    min-width: 100px;
    text-align: center;
    
    user-select: none;
    text-align: center;
    text-transform: none;

    &:hover {
        @include transition-1();
        cursor: pointer;
    }

    &.blue {
        color: $color-white;
        background: $color-dark-blue;

        &:hover {
            background-image:
            radial-gradient(
                circle at bottom center,
                $color-blue,
                $color-dark-blue 50%
            );
        }

        &.active {
            background: $color-blue;
        }
    }
}

.file-wrap {

    #file-button {
        padding: 10px;
        color: white;
        background: $color-dark-blue;
        border: 1px solid $color-black;
        cursor: pointer;
        @include transition-1();
    }
      
    #file-button:hover {
        background-color: $color-blue;
    }
      
    #file-text {
        margin-left: 10px;
        color: $color-gray-light;
    }
}

.dicom-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: $color-black-light;
    justify-content: center;
    align-items: center;
}

.dicom-visualizer {
    width: 600px;
    height: 600px;
    display: inline-block;
    border-style: solid;
    border-color: $color-white;
    position: relative;
    background-color: $color-black;
}

.dicom-image-area {
    width: 600px;
    height: 600px;
    top: 0px;
    left: 0px; 
    position: absolute;
}